---
title: Home
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded mb-5 hero">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-12 text-right pl-0 pl-lg-4">
      <picture>
        <source media="(max-width: 768px)" srcset="{{site.baseurl}}/assets/images/expedition-mobile.png">
        <img class="intro img-hero" src="{{site.baseurl}}/assets/images/expedition.png" alt="Expedition Image">
      </picture>
    </div>
  </div>
</div>
{% endif %}

<section class="row" id="pakalpojumi">
  <div class="col-sm-8">
    <div class="row mt-5">
      {% for post in paginator.posts %}
      {% unless post.featured == true %}
      <div class="col-md-6 mb-5">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    {% include sidebar.html %}
  </div>
</section>
